; npm registry configuration
registry=https://registry.npmjs.org/

; Scope configuration for @nlci packages
@nlci:registry=https://registry.npmjs.org/

; Publish settings
access=public
legacy-peer-deps=true

; Authentication token for publishing (Granular Access Token)
//registry.npmjs.org/:_authToken=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
